ibody {
  color: #161616; /* Set foreground color to #161616 */
}

a {
  color: #161616; /* Set foreground color for all anchor elements to #161616 */
}

.visually-hidden {
  display: none; /* Set display to none for elements with the class visually-hidden */
}

.card-category {
  color: #D73953; /* Set foreground color for elements with the class card-category to #D73953 */
}

.section-tagline {
  color: #D73953; /* Set foreground color for elements with the class section-tagline to #D73953 *}
